<script type="text/javascript" src="/js/auth.js"></script>

<section class="section">
    <div class="container">
        <h1>Login</h1>
        <form method="POST" id="form-login">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input is-medium" type="email" placeholder="Email" name="email">
                    <span class="icon is-medium is-left">
                    <i class="fas fa-envelope"></i>
                    </span>
                </p>
            </div>
            <div class="field">
            <p class="control has-icons-left">
                <input class="input is-medium " type="password" placeholder="Password" name="password">
                <span class="icon is-medium is-left">
                <i class="fas fa-lock"></i>
                </span>
            </p>
            </div>
            <div class="field">
            <p class="control">
                <button class="button is-success">
                Login
                </button>
            </p>
            </div>
        </form>
    </div>
</section>